@use "../../css/variables.scss" as *;

.component-input {
  display: block;
  width: 100%;
  padding: $spacing-02 $spacing-03;
  border-radius: 18px;
  background-color: transparent;
  border: 1px solid $color-grey-300;
  color: var(--color-text);
}
