.component-input {
  display: block;
  width: 100%;
  padding: var(--spacing-2) var(--spacing-2);
  /* border: none; */
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--color-grey-300);
  color: var(--color-text);
}
