.component-side-nav {
  z-index: 100;
  position: fixed;
  left: -300px;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: var(--color-grey-850);
  transform: translate3d(0%, 0, 0);
  transition: transform 300ms cubic-bezier(0.2, 0, 0, 1);
  padding: 0 var(--spacing-3) var(--spacing-3);
  display: flex;
  flex-direction: column;

  &.open,
  &.opening {
    transform: translate3d(100%, 0, 0);
  }

  .top-bar {
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-3);

    h1 {
      font-size: 20px;
      font-weight: 400;
      margin-left: var(--spacing-3);
    }
    /* &:after {
      content: "";
      display: block;
      height: 1px;
      background-color: var(--color-grey-300);
    } */
  }

  .main-section {
    flex: 1;
  }

  .footer {
    .component-button {
      display: block;
      width: 100%;
      background-color: var(--color-green-700);
      border-radius: 4px;
      padding: var(--spacing-3);
      color: white;

      &[disabled] {
        opacity: 0.5;
      }
    }
  }
}

.component-side-nav-shade {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: black;

  &.opening {
    animation: side_nav_shade_open 150ms cubic-bezier(0, 0, 0, 0) normal
      forwards;
  }

  &.open {
    opacity: 0.5;
  }

  &.closing {
    animation: side_nav_shade_open 150ms cubic-bezier(0, 0, 0, 0) reverse
      forwards;
  }

  &.closed {
    display: none;
  }
}

@keyframes side_nav_shade_open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
