@import "../css/colors.css";
@import "../css/spacing.css";
@import "../css/common.css";
@import "../css/typography.css";

html {
  height: 100dvh;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}
