body[data-route="/chat/:id"] {
  .navbar {
    z-index: 10;
    background-color: var(--color-background);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    padding: 0 var(--spacing-6);

    .component-icon {
      margin-right: var(--spacing-6);
      fill: var(--color-grey-300);
    }

    .chat-title {
      color: var(--color-grey-300);
      font-weight: 500;
      line-height: 0;
    }
  }

  .chat-body {
    position: relative;
    flex: 1;
    height: 100%;
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
    padding-bottom: 146px;
    padding-top: 48px;

    .chat-bubble {
      display: flex;
      margin-bottom: var(--spacing-3);

      &.self {
        justify-content: flex-end;
      }

      &.peer {
        justify-content: flex-start;
        padding-right: var(--spacing-6);
      }

      .article {
        border-radius: 20px;
        padding: var(--spacing-2) var(--spacing-3);
      }

      &.self .article {
        background-color: var(--color-grey-700);
      }

      &.peer .article {
        color: var(--color-grey-100);
        /* background-color: var(--color-grey-700); */

        &:before {
          content: "✨";
          display: block;
          font-size: 22px;
          margin-bottom: var(--spacing-3);
          margin-left: var(--spacing-2);
        }
      }
    }
  }

  .chat-entry {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: var(--spacing-4);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  button {
    background-color: transparent;
    padding: 0 0 3px var(--spacing-2);
    border: none;
  }
}
