:host {
  display: block;
  width: 100%;
}

:host > div {
  width: 100%;
  font-family: inherit;
  outline: none;
  overflow-y: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.5;
  padding: 12px;
  border: none;
}

:host > div:empty:before {
  content: attr(data-placeholder);
  color: var(--color-text);
  opacity: 0.8;
  pointer-events: none;
}

:host > div[contenteditable="false"] {
  background: #f5f5f5;
  cursor: not-allowed;
  color: #666;
}
