body[data-route="/"] {
  .component-icon {
    fill: var(--color-grey-300);
  }

  .navbar {
    z-index: 10;
    background-color: var(--color-grey-900);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding: 0;

    & > .left {
      flex: 1;
      width: 100%;
      line-height: 0;
    }

    & > .left,
    & > .right {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .side-nav-button {
      padding-right: var(--spacing-6);
      padding-left: var(--spacing-6);
      height: 60px;
    }

    & > .left {
      justify-content: flex-start;
    }

    & > .right {
      justify-content: flex-end;
    }

    .status {
      white-space: nowrap;
      overflow: hidden;
      height: 100%;
      width: 100%;
      line-height: 60px;
      align-items: center;
      text-overflow: ellipsis;
      margin-bottom: 3px;
    }
  }

  .model-menu-button {
    transition: transform 300ms cubic-bezier(0.2, 0, 0, 1);
    width: 60px;
    flex-shrink: 0;

    &.open {
      transform: rotate(180deg);
    }
  }

  .models-menu {
    position: fixed;
    z-index: 9;
    bottom: 100%;
    left: 0px;
    right: 0px;
    background-color: var(--color-grey-800);
    transition: transform 300ms cubic-bezier(0.2, 0, 0, 1);

    & > div {
      line-height: 50px;
      padding: 0 var(--spacing-4);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.open {
      transform: translate3d(0, calc(100% + 60px), 0);
    }
  }

  .chat-body {
    position: relative;
    flex: 1;
  }

  .chat-entry {
    padding: var(--spacing-4);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  .new-chat-button {
    position: fixed;
    bottom: var(--spacing-6);
    right: var(--spacing-6);
    background-color: var(--color-grey-800);
    padding: var(--spacing-6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
