body[data-route="/"] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--spacing-2);

  label {
    display: flex;
    width: 100%;

    &.connecting {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}
