@use "./variables.scss" as *;

@mixin mobile {
  @media (max-width: #{$page-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$page-width + 1}) {
    @content;
  }
}

@mixin dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
  // @at-root {
  //   html.dark & {
  //     @content;
  //   }
  // }
}

@mixin light {
  @media (prefers-color-scheme: light) {
    @content;
  }
  // @at-root {
  //   html.light & {
  //     @content;
  //   }
  // }
}

@mixin content-max-width {
  @include mobile() {
    padding: 0 12px;
  }

  @include desktop() {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  }
}
