body[data-route="/chat/:id"] {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-2);
    height: 40px;

    .component-icon {
      height: 24px;

      * {
        fill: var(--color-light-blue-700);
      }
    }
  }

  .chat-body {
    position: relative;
    flex: 1;
    padding: var(--spacing-2);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      display: none;
    }

    .chat-bottom-intersector {
      flex-shrink: 0;
      height: 0px;
    }

    .inner {
      flex: 1;
    }

    .chat-bubble {
      display: flex;
      margin-bottom: var(--spacing-3);

      &.self {
        justify-content: flex-end;
      }

      &.peer {
        justify-content: flex-start;
        padding-right: var(--spacing-6);
      }

      .article {
        border-radius: 20px;
        padding: var(--spacing-2) var(--spacing-3);
      }

      &.self .article {
        background-color: var(--color-light-blue-700);
      }

      &.peer .article {
        background-color: var(--color-grey-700);
      }

      &.peer:has(+ .chat-bubble.peer):not(.chat-bubble.peer + .chat-bubble.peer)
        .article {
        border-bottom-left-radius: 4px;
      }

      &.peer.chat-bubble.peer
        + .chat-bubble.peer:has(+ .chat-bubble.peer)
        .article {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &.peer.chat-bubble.peer
        + .chat-bubble.peer:not(:has(+ .chat-bubble.peer))
        .article {
        border-top-left-radius: 4px;
      }

      &.self:has(+ .chat-bubble.self):not(.chat-bubble.self + .chat-bubble.self)
        .article {
        border-bottom-right-radius: 4px;
      }

      &.self.chat-bubble.self
        + .chat-bubble.self:has(+ .chat-bubble.self)
        .article {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &.self.chat-bubble.self
        + .chat-bubble.self:not(:has(+ .chat-bubble.self))
        .article {
        border-top-right-radius: 4px;
      }
    }
  }

  .chat-entry {
    padding: var(--spacing-2);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    .textarea-component {
      flex: 1;
    }

    .component-icon {
      height: 24px;

      * {
        fill: var(--color-light-blue-700);
      }
    }
  }

  button {
    background-color: transparent;
    padding: 0 0 3px var(--spacing-2);
    border: none;
  }
}
