@use "../../css/variables.scss" as *;

.component-bubble {
  border: none;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid $color-grey-800;
  border-radius: 24px;
  background: $color-grey-850;
}
