@use "../../css/variables.scss" as *;

.component-chat-input {
  display: block;
  width: 100%;
  border-radius: 24px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid $color-grey-800;
  background: $color-grey-850;
  color: var(--color-text);
  padding: 12px;
  outline: none;
  font-size: 16px;

  .controls {
    padding-top: $spacing-04;
    display: flex;
    justify-content: space-between;
  }

  .component-button {
    background-color: transparent;
  }

  .component-icon {
    fill: $color-grey-300;
    background-color: transparent;
  }
}
