.component-chat-input {
  display: block;
  width: 100%;
  border-radius: 32px;
  box-sizing: border-box;
  overflow: hidden;
  background: var(--color-grey-800);
  color: var(--color-text);
  padding: 12px;
  outline: none;
  font-size: 16px;

  .controls {
    padding-top: var(--spacing-4);
    display: flex;
    justify-content: space-between;
  }

  .component-button {
    background-color: transparent;
  }

  .component-icon {
    fill: var(--color-grey-300);
    background-color: transparent;
  }
}
